mule-invokedb/target/classes/mule-invokedb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9a365c18-f640-468e-b117-ecbb3cadc67d" >
		<http:listener-connection host="0.0.0.0" port="9081" />
	</http:listener-config>
	<db:config name="OracleDB_Config" doc:name="Database Config" doc:id="4696faad-245d-42e4-80d9-ec3b579f7b14" >
		<db:oracle-connection host="${secure::db.host}" user="${secure::db.username}" password="${secure::db.password}" port="${secure::db.port}" serviceName="XE"/>
	</db:config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="977bb6a1-6330-4031-83ce-2897dc60bbcb" file="db-secure-dev.yaml" key="abcdefghijklmnop" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
	<flow name="getallstudents" doc:id="eccdda6e-d02e-4ac1-8e5c-d607e7796205" >
		<db:select doc:name="getstudents" doc:id="e3ac3553-9077-4357-92f8-065c5744ff72" config-ref="OracleDB_Config">
			<db:sql><![CDATA[select * from students]]></db:sql>
		</db:select>
		<logger level="INFO" doc:name="Logger" doc:id="c7d4a59f-4b3d-455e-8080-0600b5af9eb8" message="#[payload]" />
		<ee:transform doc:name="Transform Message" doc:id="849b2be8-527b-4f38-bf10-e8673f5b4e81">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="mule-invokedbFlow" doc:id="d192df18-23cd-4e8d-be45-a0cde7e37381" >
		<http:listener doc:name="Listener" doc:id="0f12e7ba-2ed5-4f0f-9b85-7b5d221af7d2" config-ref="HTTP_Listener_config" path="/db/students"/>
		<choice doc:name="Choice" doc:id="2ced73b7-9afc-47db-86fb-14f9b58e964a" >
			<when expression="#[attributes.method == 'GET' and attributes.queryParams.studentId == null]">
				<flow-ref doc:name="getallstudents" doc:id="77503d7c-04d8-40f1-8d0f-663dfc95745a" name="getallstudents" />
			</when>
			<when expression="#[attributes.method == 'GET' and attributes.queryParams.studentId != null]">
				<flow-ref doc:name="getstudentsbyId" doc:id="692bb28a-4934-47ad-adb5-f1874714ccd3" name="getstudentbyId"/>
			</when>
		</choice>
	</flow>
	<flow name="getstudentbyId" doc:id="f99d04d9-31ba-4e66-b961-a6c55364faac" >
		<db:select doc:name="getstudentsbyid" doc:id="f8dc8ac6-1ac9-472c-9efd-ade3cf99bf8a" config-ref="OracleDB_Config">
			<db:sql ><![CDATA[select * from students where student_id = :studId]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	studId: attributes.queryParams.studentId
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="96394d75-b7b3-40fa-948c-e5f5220c4894" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="addStudent" doc:id="4e105907-26f7-4036-b5c6-096e50a99e2a" >
		<db:insert doc:name="Insert" doc:id="5b96fa59-4719-4f11-93d4-f79887651ada" config-ref="OracleDB_Config">
			<db:sql ><![CDATA[insert into students student_id, student_name, student_class values (:student_id, student_name)]]></db:sql>
		</db:insert>
	</flow>
</mule>
